[v-cloak]{
    display: none;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
}
.fade-enter, .fade-leave-to{
    opacity: 0;
}

.wow, .index_kv, .easy_kv, .product_kv, .form_kv{
    visibility: hidden;
}

header .logo img{
    cursor: pointer;
}

.one, .two{
    transform: scale(0);
}
.easy h1 p img, .easy h1 span, .easy h2 img{
    opacity: 0;
}
.bubble_block li p{
    transform: scale(0);
}

.float{
    -webkit-animation: float 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    animation: float 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}
@keyframes float{
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
    }
    50% {
        transform: translateY(25px);
        -webkit-transform: translateY(25px);
        -moz-transform: translateY(25px);
    }
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
    }
}
@-webkit-keyframes fadeInDownSmall {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}