// font style
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@function pxrem($px, $content: 16px) {
    @return ($px / $content) * 1rem;
}

$size:15px;
$weight:300;
$letterspace: 1.5px;
$lineheight: 1.5;
$fontcolor: #333;

@mixin body-font($size, $lineheight) {
    font-size: pxrem($size);
    letter-spacing: 1px;
    font-family: 'Noto Sans TC', Helvetica, sans-serif;
    line-height: $lineheight;
    font-weight: $weight;
    letter-spacing: $letterspace;
    color: $black;
}

@mixin font-style($size, $weight, $lineheight, $fontcolor, $letterspace) {
    font-size: pxrem($size);
    font-weight: $weight;
    line-height: $lineheight;
    color: $fontcolor;
    letter-spacing: $letterspace;
}