<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>肌膚的有氧教室｜Bio Essence</title>
        <!-- facebook share -->
        <meta property="og:type" content="website" />
        <meta property="og:title" content="肌膚的有氧教室｜Bio Essence" />
        <meta property="og:description" content="「全新碧歐斯 生物能量複合素」，加強肌膚自我修復更新的能力；生物成分極致活化，讓有效成分超導吸收。讓肌膚就像做了有氧運動一樣美麗。" />
        <meta property="og:image" content="img/600x315.png" />
        <!-- favicon -->
        <link rel="icon" href="img/favicon.ico">
        <!-- css style -->
        <link rel="stylesheet" href="css/icon.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" href="bundle/self.css">
        <link rel="stylesheet" href="css/wa-mediabox.min.css">
        <!--[if gt IE 9]><script src="js/vendor/html5shiv.js"></script><![endif]-->
        <script src="js/vendor/ga.js"></script>
        <script src="js/vendor/isMobile.min.js"></script>
        <script src="js/vendor/ch.min.js"></script>
        <script src="js/vendor/vue.min.js"></script>
        <script src="js/vendor/wow.min.js"></script>
        <script src="js/vendor/TweenMax.min.js"></script>
        <script src="js/vendor/wa-mediabox.min.js"></script>
        <script src="js/vendor/axios.min.js"></script>
    </head>
    <body>
        <div id="indexPage" v-cloak>
            <!-- ================= only fot ipad ================= -->
            <div class="trans_bg">
                <div class="trans_ipad">
                    <div class="trans_center"><img src="img/trans/ipad_ok.png">
                        <p>請將裝置轉至橫式<br>體驗最佳瀏覽方式</p>
                    </div>
                </div>
                <!-- only for iphone-->
                <div class="trans_iphone">
                    <div class="trans_center"><img src="img/trans/iphone_ok.png">
                        <p>請將裝置轉至直式<br>體驗最佳瀏覽方式</p>
                    </div>
                </div>
            </div>
            <!--==============選單==============-->
            <header :class="{ 'fixed' : menuHeader }">
                <div class="logo"><img src="img/logo.png" alt="" @click="scrollToY(0, 500); gaclick('home');"></div>
                <nav class="pc_mu">
                    <ul>
                        <li @click="moveToPdt();"><a href="" @click.prevent.self>產品介紹</a></li>
                        <li @click="disAct($event);"><a href="" @click.prevent.self>活動辦法</a></li>
                        <li class="fb">
                            <a href="https://www.facebook.com/Bioessence.tw/?fref=ts" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="圖層_1" x="0px" y="0px" width="7.483px" height="16px" viewBox="0 0 7.483 16" enable-background="new 0 0 7.483 16" xml:space="preserve">
                                    <g>
                                        <path d="M7.442,0v2.758h-1.5c-0.447,0-0.731,0.122-0.871,0.365C4.969,3.285,4.929,3.569,4.929,3.955v1.257h2.555   L7.18,7.991H4.929V16H1.623V7.991H0V5.212h1.623V3.549c0-1.704,0.588-2.799,1.744-3.265C3.935,0.061,4.421,0,4.929,0H7.442z" />
                                    </g>
                                </svg>粉絲團
                            </a>
                        </li>
                    </ul>
                </nav>
                <nav class="mobile_mu">
                    <div class="menuToggle">
                        <input type="checkbox" />
                        <span></span>
                        <span></span>
                        <span></span>
                        <div class="menu">
                            <div class="con">
                                <ul>
                                    <li @click="moveToPdt();"><a href="" @click.prevent.self>產品介紹</a></li>
                                    <li @click="disAct($event);"><a href="" @click.prevent.self>活動辦法</a></li>
                                    <li><a href="https://www.facebook.com/Bioessence.tw/?fref=ts" target="_blank">粉絲團</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
                <nav class="mobile_mu">
                </nav>
            </header>
            <div class="wrap">
                <!--主視覺-->
                <section class="index">
                    <h1>
                        <p><img class="index_kv zoomIn" data-wow-duration=".5s" data-wow-delay=".5s" src="img/big_title_triangle.png" alt=""></p>
                        <p><img class="index_kv zoomIn" data-wow-duration=".4s" data-wow-delay=".8s" src="img/big_title.png" alt=""></p>
                    </h1>
                    <div class="bubble_block">
                        <p class="b_1"><img class="one" src="img/bubble.png" alt=""></p>
                        <p class="b_2"><img class="two" src="img/bubble.png" alt=""></p>
                        <p class="b_3"><img class="one" src="img/bubble.png" alt=""></p>
                        <p class="b_4"><img class="two" src="img/bubble.png" alt=""></p>
                        <p class="b_5"><img class="one" src="img/bubble.png" alt=""></p>
                    </div>
                </section>
                <!--==============最輕鬆的有氧運動==============-->
                <section class="easy">
                    <div class="center">
                        <div class="say_con">
                            <h1>
                                <p><img src="img/benefit_title.png" alt=""></p>
                                <span>運動的風氣越來越盛行，但大多數的人都忘了幫肌膚做有氧運動！<br>肌膚吸飽了新鮮空氣，不化妝也能充滿元氣與活力！</span>
                            </h1>
                            <h2>
                                <img src="img/benefit_highlight.png" alt="">
                            </h2>
                            <div class="vivien">
                                <img class="easy_kv fadeInLeft" data-wow-duration=".5s" data-wow-delay=".1s" src="img/benefit_vivien.png" alt="">
                            </div>
                        </div>
                        <ul class="bubble_block">
                            <li>
                                <p><img src="img/benefit_bubble_1.png" alt=""></p>
                            </li>
                            <li>
                                <p><img src="img/benefit_bubble_2.png" alt=""></p>
                            </li>
                            <li>
                                <p><img src="img/benefit_bubble_3.png" alt=""></p>
                            </li>
                            <li>
                                <p><img src="img/benefit_bubble_4.png" alt=""></p>
                            </li>
                        </ul>
                    </div>
                </section>
                <!--==============有氧專利==============-->
                <section class="patent">
                    <div class="center">
                        <div class="text_block">
                            <h1><img class="patent_kv_m fadeInDown" data-wow-duration=".5s" data-wow-delay=".1s" src="img/patent_title.png" alt=""></h1>
                            <h2><img src="img/patent_topic_1.png" alt=""></h2>
                            <h3>透過「全新碧歐斯 生物能量複合素」，<br>加強肌膚自我修復更新的能力；<br>生物成分極致活化，讓有效成分超導吸收。<p><img src="img/patent_highlight_word.png" alt=""></p>現在你知道，女神的秘密武器是什麼了吧<br></h3>
                            <div class="video">
                                <a href="https://www.youtube.com/embed/URAH5PgkKgs?rel=0&autoplay=1&amp;controls=0&amp;showinfo=0" data-iframe="true" data-mediabox="bio-youtube" data-width="1024" data-height="576"><span class="icon-play"></span><img src="img/video.png" alt="" @click="gaclick('TVC');"></a>
                            </div>
                        </div>
                        <div class="pdt"><img class="patent_kv_pc fadeInRight" data-wow-duration=".5s" data-wow-delay=".1s" src="img/patent_pdt.png" alt=""></div>
                    </div>
                </section>
                <!--==============名人推薦==============-->
                <section class="famous">
                    <div class="center">
                        <h1><img src="img/commend_title.png" alt=""></h1>
                        <h2>跟著達人們一起，讓肌膚動起來</h2>
                        <div class="switch_block">
                            <a href="" class="pre" @click="switchCnt = 0" @click.prevent.self><span class="icon-arrow"></span></a>
                            <div class="hidden">
                                <ul>
                                    <li v-show="switchCnt == 0 || switchCnt == 2">
                                        <a href="" @click="gaclick('kevin');">
                                            <p class="photo"><img src="img/commend_pic_01.png" alt=""></p>
                                            <div class="tt"><span>「凱文瘋了」</span>
                                                <p class="name">美容教父也動起來</p><b></b></div>
                                        </a>
                                    </li>
                                    <li v-show="switchCnt == 0 || switchCnt == 2">
                                        <a href="" @click="gaclick('elle');">
                                            <p class="photo"><img src="img/commend_pic_02.png" alt=""></p>
                                            <div class="tt"><span>Elle 資深總編輯</span>
                                                <p class="name">盧淑芬</p><b></b></div>
                                        </a>
                                    </li>
                                    <li v-show="switchCnt == 0 || switchCnt == 2">
                                        <a href="" @click="gaclick('blogger');">
                                            <p class="photo"><img src="img/commend_pic_03.png" alt=""></p>
                                            <div class="tt"><span>人氣部落客</span>
                                                <p class="name">Michelle</p><b></b></div>
                                        </a>
                                    </li>
                                    <li v-show="switchCnt == 1 || switchCnt == 2">
                                        <a href="">
                                            <p class="photo"><img src="img/commend_pic_01.png" alt=""></p>
                                            <div class="tt"><span>「凱文瘋了」</span>
                                                <p class="name">美容教父也動起來</p><b></b></div>
                                        </a>
                                    </li>
                                    <li v-show="switchCnt == 1 || switchCnt == 2">
                                        <a href="">
                                            <p class="photo"><img src="img/commend_pic_01.png" alt=""></p>
                                            <div class="tt"><span>「凱文瘋了」</span>
                                                <p class="name">美容教父也動起來</p><b></b></div>
                                        </a>
                                    </li>
                                    <li v-show="switchCnt == 1 || switchCnt == 2">
                                        <a href="">
                                            <p class="photo"><img src="img/commend_pic_01.png" alt=""></p>
                                            <div class="tt"><span>「凱文瘋了」</span>
                                                <p class="name">美容教父也動起來</p><b></b></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <a href="" class="next" @click="switchCnt = 1" @click.prevent.self><span class="icon-arrow"></span></a>
                        </div>
                    </div>
                </section>
                <div class="bg_2">
                    <!--==============產品介紹==============-->
                    <section class="pdt_block">
                        <div class="center">
                            <h1><img src="img/pdt_title.png" alt=""></h1>
                            <!--第一咖-->
                            <div class="cut_block c_1">
                                <p class="triggle"><img src="img/big_title_triangle.png" alt=""></p>
                                <p class="gold"><img src="img/pdt_gold.png" alt=""></p>
                                <p class="purple"><img src="img/pdt_purple.png" alt=""></p>
                                <p class="bubble_gold"><img src="img/b_gold.png" alt=""></p>
                                <p class="bubble_purple"><img src="img/b_purple.png" alt=""></p>
                            </div>
                            <!--第二咖-->
                            <div class="cut_block c_2" style="display:none;">
                                <p class="triangle"><img src="img/patent_pdt.png" alt=""></p>
                                <p class="board_gold"><img src="img/pdt_gold_board.png" alt=""><a href="" ><img src="img/btn_buy.png" alt=""></a></p>
                                <p class="board_purple"><img src="img/pdt_purple_board.png" alt=""><a href="" ><img src="img/btn_buy_purple.png" alt=""></a></p>
                            </div>
                            <!--for mobile-->
                            <div class="m_pdtBlock">
                                <!--金色-->
                                <div class="gold_block">
                                    <!--介紹-->
                                    <div class="des">
                                        <p class="pdt">
                                            <img src="img/pdt_gold.png" alt="">
                                        </p>
                                        <div class="tt_box">
                                            <p><img src="img/m_pdt_name_gold.png" alt=""></p>
                                            <a href="" class="btn gold" @click="disImg($event, 'gold');" @click.prevent.self>瞭解更多</a>
                                        </div>
                                    </div>
                                    <!--要打開的-->
                                    <div class="open">
                                        <img src="img/m_pdt_des_gold.png" alt=""> 
                                    </div>
                                </div>
                                <!--紫色-->
                                <div class="purple_block">
                                    <!--介紹-->
                                    <div class="des">
                                        <p class="pdt">
                                            <img src="img/pdt_purple.png" alt="">
                                        </p>
                                        <div class="tt_box">
                                            <p><img src="img/m_pdt_name_purple.png" alt=""></p>
                                            <a href="" class="btn purple" @click="disImg($event, 'purple');" @click.prevent.self>瞭解更多</a>
                                        </div>
                                    </div>
                                    <!--要打開的-->
                                    <div class="open">
                                        <img src="img/m_pdt_des_purple.png" alt=""> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--==============有氧課程報名==============-->
                    <section class="lottery">
                        <div class="center">
                            <h1><img src="img/sign_title.png" alt=""></h1>
                            <h2>想要體驗肌膚有氧運動帶來的年輕活力？</h2>
                            <h3>即刻回填資料並分享，就有機會<span><b><img src="img/sign_draw.png" alt=""></b>女神的美麗秘密</span>唷～</h3>
                            <div class="choose_block">
                                <div class="border">
                                    <div class="gold_box">
                                        <p class="pdt"><img src="img/sign_pdt_gold.png" alt=""></p>
                                        <h4>
                                            <span>抗</span>初老
                                        </h4>
                                        <a href="" @click="goldFG = true; gaclick('biogold');" @click.prevent.self>我要透亮年輕</a>
                                    </div>
                                    <div class="purple_box">
                                        <p class="pdt"><img src="img/sign_pdt_purple.png" alt=""></p>
                                        <h4>
                                            <span>超</span>彈潤
                                        </h4>
                                        <a href="" @click="purpleFG = true; gaclick('biobounce');" @click.prevent.self>我要肌膚Q彈</a>
                                    </div>
                                    <p class="tt">兩堂肌膚有氧運動你想體驗哪一道呢？</p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!--POP 金-->
            <transition name="fade">
                <div class="pop" v-show="goldFG">
                    <section class="gold">
                        <a href="" class="close" @click="goldFG = false" @click.prevent.self></a>
                        <div class="border">
                            <!--填表單-->
                            <div class="form" v-show="goldStep == 1">
                                <h1>加入肌膚的有氧教室</h1>
                                <h2>就有機會獲得<b>Bio金萃黃金比例雙精華</b><br>一起抵抗初老，回復透亮美肌</h2>
                                <ul>
                                    <li><span>姓名</span>
                                        <input type="text" v-model="goldData.name">
                                    </li>
                                    <li><span>手機</span>
                                        <input type="tel" placeholder="同一組手機號碼僅限參加一次" v-model="goldData.phone">
                                        <p>*同一組手機號碼僅限參加一次</p>
                                    </li>
                                    <li><span>地址</span>
                                        <input type="text" placeholder="中獎後依填寫地址寄送，請確實填寫" v-model="goldData.address">
                                        <p>*中獎後依填寫地址寄送，請確實填寫</p>
                                    </li>
                                </ul>
                                <p>
                                    <input type="checkbox" class="checkbox-custom" name="checkbox" id="checkbox" />
                                    <label for="checkbox" class="checkbox-custom-label">已詳閱 <a href="" target="_blank" style="text-decoration: underline;">約定事項</a> 並且同意遵守所有規定。</label>
                                </p>
                                <a href="" class="btn reset" @click="goldData.name = goldData.phone = goldData.address = ''" @click.prevent.self>重新填寫</a>
                                <a href="" class="btn send_gold" @click="sendData($event, 'gold');">確認送出</a>
                            </div>
                            <!--完成-->
                            <div class="success" v-show="goldStep == 2">
                                <h1>成功送出資料！</h1>
                                <h2>感謝參加Bio essence的肌膚有氧教室活動，<br>分享給好友，中獎機率更大喔！</h2>
                                <a href="" class="btn send_gold" @click="sendShare($event);">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="圖層_1" x="0px" y="0px" width="7.483px" height="16px" viewBox="0 0 7.483 16" enable-background="new 0 0 7.483 16" xml:space="preserve">
                                        <g>
                                            <path d="M7.442,0v2.758h-1.5c-0.447,0-0.731,0.122-0.871,0.365C4.969,3.285,4.929,3.569,4.929,3.955v1.257h2.555   L7.18,7.991H4.929V16H1.623V7.991H0V5.212h1.623V3.549c0-1.704,0.588-2.799,1.744-3.265C3.935,0.061,4.421,0,4.929,0H7.442z" />
                                        </g>
                                    </svg>分享
                                </a>
                            </div>
                            <!--已填寫過-->
                            <div class="fail" v-show="goldStep == 3">
                                <h1>你已參與過抽獎囉！</h1>
                                <h2>(同組手機號碼僅限參加一次)</h2>
                                <a href="" class="btn reset" @click="goldData.name = goldData.phone = goldData.address = ''; goldStep = 1;" @click.prevent.self>返回</a>
                            </div>
                        </div>
                        <div class="pdt"><img src="img/pop_pdt_gold.png" alt=""></div>
                    </section>
                </div>
            </transition>
            <!--POP 紫-->
            <transition name="fade">
                <div class="pop" v-show="purpleFG">
                    <section class="purple">
                        <a href="" class="close" @click="purpleFG = false" @click.prevent.self></a>
                        <div class="border">
                            <!--填表單-->
                            <div class="form" v-show="purpleStep == 1">
                                <h1>加入肌膚的有氧教室</h1>
                                <h2>就有機會獲得<b>Bio金萃黃金比例雙精華</b><br>一起抵抗初老，回復透亮美肌</h2>
                                <ul>
                                    <li><span>姓名</span>
                                        <input type="text" v-model="purpleData.name">
                                    </li>
                                    <li><span>手機</span>
                                        <input type="tel" placeholder="同一組手機號碼僅限參加一次" v-model="purpleData.phone">
                                        <p>*同一組手機號碼僅限參加一次</p>
                                    </li>
                                    <li><span>地址</span>
                                        <input type="text" placeholder="中獎後依填寫地址寄送，請確實填寫" v-model="purpleData.address">
                                        <p>*中獎後依填寫地址寄送，請確實填寫</p>
                                    </li>
                                </ul>
                                <p>
                                    <input type="checkbox" class="checkbox-custom" name="checkbox" id="checkbox_2" />
                                    <label for="checkbox_2" class="checkbox-custom-label">已詳閱 <a href="" target="_blank" style="text-decoration: underline;">約定事項</a> 並且同意遵守所有規定。</label>
                                </p>
                                <a href="" class="btn reset" @click="purpleData.name = purpleData.phone = purpleData.address = ''" @click.prevent.self>重新填寫</a>
                                <a href="" class="btn send_purple" @click="sendData($event, 'purple');">確認送出</a>
                            </div>
                            <!--完成-->
                            <div class="success" v-show="purpleStep == 2">
                                <h1>成功送出資料！</h1>
                                <h2>感謝參加Bio essence的肌膚有氧教室活動，<br>分享給好友，中獎機率更大喔！</h2>
                                <a href="" class="btn send_purple" @click="sendShare($event);">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="圖層_1" x="0px" y="0px" width="7.483px" height="16px" viewBox="0 0 7.483 16" enable-background="new 0 0 7.483 16" xml:space="preserve">
                                        <g>
                                            <path d="M7.442,0v2.758h-1.5c-0.447,0-0.731,0.122-0.871,0.365C4.969,3.285,4.929,3.569,4.929,3.955v1.257h2.555   L7.18,7.991H4.929V16H1.623V7.991H0V5.212h1.623V3.549c0-1.704,0.588-2.799,1.744-3.265C3.935,0.061,4.421,0,4.929,0H7.442z" />
                                        </g>
                                    </svg>分享
                                </a>
                            </div>
                            <!--已填寫過-->
                            <div class="fail" v-show="purpleStep == 3">
                                <h1>你已參與過抽獎囉！</h1>
                                <h2>(同組手機號碼僅限參加一次)</h2>
                                <a href="" class="btn reset" @click="purpleData.name = purpleData.phone = purpleData.address = ''; purpleStep = 1;" @click.prevent.self>返回</a>
                            </div>
                        </div>
                        <div class="pdt"><img src="img/pop_pdt_purple.png" alt=""></div>
                    </section>
                </div>
            </transition>
            <!--POP 活動辦法-->
            <transition name="fade">
                <div class="activity" v-show="actFG">
                    <a href="" class="close" @click="actFG = false" @click.prevent.self></a>
                    <section>
                        <div class="center">
                            <h1>Bio-essence 肌膚有氧運動</h1>
                            <h2>活動登錄抽獎活動辦法</h2>
                            <div class="item_block">
                                <span>活動方式</span>
                                <p>即日起12/31止，參與【Bio-essence肌膚有氧運動】活動登錄抽獎活動，就有機會抽中好禮！</p>
                            </div>
                            <div class="item_block">
                                <span>活動期間</span>
                                <p>2017年12月8日至2017年12月31日,將於2018年1月15日公布在活動網站。</p>
                            </div>
                            <div class="item_block">
                                <span>贈品</span>
                                <ul class="prize">
                                    <li>
                                        <p><img src="img/pop_pdt_gold.png" alt=""></p>
                                        <span>Bio金萃黃金比例雙精華<b>30名</b></span>
                                    </li>
                                    <li>
                                        <p><img src="img/pop_pdt_purple.png" alt=""></p>
                                        <span>Bio膠原彈潤超澎精華霜<b>30名</b></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="item_block">
                                <span>參加資格</span>
                                <ul class="list">
                                    <li>本次活動僅限於寄送至台灣、金門、澎湖、馬祖等地區，主辦單位不處理郵寄獎品至海外地區之事宜。</li>
                                    <li>一組手機號碼僅限抽獎一次。</li>
                                    <li>若有贈品寄送或活動相關問題，請洽客服信箱或客服電話。
                                        <br>(客服專線 02-8712-8807 E-mail: beautytw@bioessence.com.sg)</li>
                                </ul>
                            </div>
                            <div class="item_block">
                                <span>贈品寄送</span>
                                <ul class="list">
                                    <li>獎品在郵寄或運送過程中，所造成的毀壞、遲遞、錯遞或遺失，及所有獎品送出後之使用與維修，主辦單位恕不負責。</li>
                                    <li>中獎者同意主辦單位對所有因使用或領取獎項之後果無須負責。</li>
                                    <li>中獎者不得要求更改獎項或兌換現金，不得轉售獎項、獎品。</li>
                                    <li>主辦單位保有最後中獎審核之權利。</li>
                                    <li>其他未盡事宜，悉依主辦單位相關規定。</li>
                                    <li>主辦單位擁有隨時取消、終止、修改或暫停本活動之權利，無須作事前通知，亦有權對本活動之所有事宜作出解釋或裁決。</li>
                                    <li>主辦單位將依照於活動結束後填寫的基本資料寄送贈品。</li>
                                    <li>請慎重填寫個人資料，若填寫不完整或不正確，無法符合本活動參加資格，將自動取消其得獎資格，並且不接受更改。</li>
                                    <li>贈品或贈品憑證一律以掛號郵寄方式寄出，若因資料填寫錯誤，如：姓名/地址不正確，造成無法寄送或無人招領時，視同放棄得獎機會，贈品若遭退回、冒領、遺失者，恕不另行補發。</li>
                                    <li>本活動不得重複得獎。若姓名、手機、地址無效，主辦單位有權將參加名額刪除。</li>
                                    <li>本活動如有任何因電腦、網路、電話、技術或其他不可歸責於主辦單位之事由，使參與本活動者所登錄之資料有遺失、錯誤、無法辨識或毀損所導致資料無效之情況，主辦單位不負任何法律責任，參與本活動者或得獎者亦不得因此異議。</li>
                                    <li>得獎者應依政府規定繳納所得稅並辦理扣繳手續。依中華民國稅法規定，機會中獎獎項價值超過新台幣二萬元，中獎者須支付10%機會中獎所得稅，不願繳交稅金者視同放棄得獎權利；獎項價值超過新台幣一千元者，主辦單位亦依法開立個人綜合所得稅憑證，以利中獎人申報之用。若中獎者為非本國居民則按給付全額扣取20%稅款。檢附之相關文件不全、有務和造假者，該中獎者應負相關法律責任，並須繳回已領之獎項。</li>
                                    <li>本活動因故無法進行時，主辦單位有隨時修正、暫停或終止本活動之權利，並不另行公告通知。</li>
                                    <li>對於透過任何不當方式進行活動者，主辦單位將保留取消其相關活動權益。</li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>
            </transition>
        </div>
        <script src="bundle/index.js"></script>
    </body>
</html>